.site__wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  font-family: 'Courier New', Courier, monospace;
}

.site__wrapper h1 {
  text-align: center;
  font-size: 48px;
}

.addTask__wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.addTask__wrapper input {
  height: 20px;
  width: 250px;
  display: block;
}
